body, html {
  height: 100%;
  margin: 0;
  font-family: DM Sans;
}

.hero-image {
  background-image:url("/images/1.png");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
width: 519px;
height: 240px;
padding-left: 184px;
padding-right:737px;
padding-top: 240px;
padding-bottom:542.05px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 80px;

/* or 100% */

letter-spacing: -2.01026px;

color: #FFFFFF;
  
}

.hero-text p {
position: absolute;
width: 428px;
height: 112px;
left: 185px;
top: 462px;


font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */

letter-spacing: -0.502564px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.6;
}
.hero-p {
position: absolute;
width: 1069px;
height: 100px;
left: 185px;
top: 750px;
background: #FFFFFF;
}
