*
body  {
    font-family: 'Manrope', sans-serif;
}

@media only screen and (max-width: 375px) {
    /* For tablets: */
    .foto1 {width:80%;margin-left:0.6%;}
}

@media only screen and (max-width: 375px) {
    /* For tablets: */
    .emri1 {
        font-size:85px;
        margin-top:45%;
        margin-left:-18%;
    }

}

@media only screen and (max-width: 375px) {
    /* For tablets: */
    .text2 {
        padding-right:420px;
        margin-left:10%;
        font-size:40px;
        text-align: center;
    }

}



@media only screen and (max-width: 375px) {
    /* For tablets: */
    .myButton {
    font-size:40px;
    margin-left:24%;
    border-radius:0px 26px 0px   0px;
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Manrope', sans-serif;
    padding:45px 80px;
    
    }
    
    #icona11{
        padding-right:14px;
        color:orange;
    }

}





.emri2{
    font-weight: 10;
    color:black;
    text-align:center;
    font-size:45px;
    margin-top:290px;
    margin-right:40%;
    padding-bottom: 30px;
}
hr.colored1 {
    border: 0;   /* in order to override TWBS stylesheet */
    height: 5px;
    margin-left:15%;    
    margin-bottom:-270px;
    margin-top:20px;
    width : 10%;
    background: rgb(255,162,0);

    background: linear-gradient(90deg, rgba(255,162,0,1) 0%, rgba(121,61,9,1) 48%, rgba(0,0,0,1) 100%);

}
.text21 {
    margin-right:55%;
    padding-left:210px;
    font-size:16px;
    font-weight:normal;
    font-family: 'Inter', sans-serif;
    color: #797979;;
    
}

.myButton1 {
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    padding:19px 31px;
    margin-left:15%;
    border-radius:16px 00px 0px   0px;
}

i {
    padding-right:14px;
    color:orange;
}

.div11{
    margin-top: -38%;
}

.foto2 {
    width:45%;
    margin-left:850px;
    margin-top:10%;
    border-radius:50px 0px 0px   0px;
    border: 3px solid #18a0fb;
    box-shadow: 0px 48px 35px 1px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 48px 35px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 48px 35px 1px rgba(0,0,0,0.28);

}