body {
    padding:0;
}

.footer {
  
    width: 130%;
    height:600px;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 70.25%);

}

a {
    color: white;
}

a:hover {
    color:#AAB7B8;
    text-decoration: none;
  }

  a:focus {
      text-decoration: none;
      color:#AAB7B8;
  }

@media only screen and (max-width: 375px) {
    hr.hr121 {
        margin-left:-2%;
    }


    #socialmedia {
        font-size: 220%;
        width:100px;
    }

    h3.emricolumn {
        font-size: 28.2px;
        margin-left: -46rem;

    }
    h4.link1 {
        font-size:30px;
        margin-left: -46rem;
        line-height: 15pt;


    }
 

    a.myButton6 {
        margin-left: 77rem;
        padding:40px 56px;
        font-size:30px;
        margin-top: -2%;

    }

    div.icona112  {
        margin-left: 5rem;
    }

    img.foto123 {
        margin-left: 0.2rem;

    }
    h1.footerclass1 {
        margin-left: 5rem;
        font-size: 55px;

    }

} 


.input1 {
    width:430px;
    height:40px;
    border-radius:10px;
    opacity:0.8;
    border:0px;
    margin-top:30px;
    font-weight:800;
    text-indent: 15px;
}

.input1:hover {
    border:0;
    outline: none;
}

.input1:focus {
    border:0;
    outline: none;
}



.input2 {
    width:430px;
    height:80px;
    border-radius:4px;
    opacity:0.8;
    border:0px;
    margin-top:30px;
    font-weight:800;
    font-family: 'Josefin Sans', sans-serif;
    padding-top:2px;
}

.input2:hover {
    border:0;
    outline: none;
}

.input2:focus {
    border:0;
    outline: none;
}




.footerclass1 {
    font-family: DM Sans;
    padding-top:90px;
    margin-left:290px;
    height: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 55px;
    /* identical to box height */
    letter-spacing: 1.05538px;
    color: #FFFFFF;
}


.myButton6 {
    background-color:#FFAC12;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    padding:23px 41px;
    margin-left:51%;
    border-radius:0px 16px 0px   0px;
}

.hr121 {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 1250px;
    height: 1px;
    margin-left:11%;
}

.foto123 {
    margin-left :230px;
}

#myButton1161666 {
    background-color:transparent;
    border-radius:31px;
    margin-top:40px;
    border:2px solid white;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size:17px;
    padding:5px 33px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left:70px;     
    float:left;       
}

#myButton1161666:hover {
    background-color:transparent;
    text-decoration:none;
    color:#797D7F;
}

#myButton1161666:active {
    position:relative;
    top:1px;
}


.icona112 {
    margin-left:10.5%;
    font-size:200%;
}

.emricolumn {
    font-family: DM Sans;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.376923px;
    color: #FFFFFF;
}

.column121 {
    margin-left:35%;
    margin-top:-180px;
}

.column122 {
    margin-left:45%;
    margin-top:-189px;
}




.contactme {
    margin-left:40%;
    margin-top:-9.2%
}

.column124 {
    margin-left:55%;
    margin-top:-189px;
}
.link1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.376923px;
    color: #979797;
}

.reality33{
    color:#FFAC12;
    letter-spacing: -1.05538px;
}