  body , html{
    background: #F2F2F2;
    font-family: 'DM Sans', sans-serif;
  }
    .container{
      margin-left: 145px;
    }
    .mySwiper {
      margin-top: 21px;
      
    }

    .mySwiper .swiper-slide {
      max-width: 80px!important;
      height: 80px!important;
      width: 100%!important;
    }
    .mySwiper .swiper-slide img {
      width: 100%!important;
      height: 80px!important;
      width: 100%!important;
      border-radius: 0px 16px 0px 0px;
    }
    .swiper-slider{
      width: 704px;
    }
    .mySwiper .swiper-slide img:hover {
      cursor: pointer;
    }
    .swiper-container-pointer-events {
      touch-action: pan-y;
      border-radius: 0px 57px 0px 0px;
  }
    .border{
    width: 296px;
    height: 70px;
    margin-left: -25px;
    top: 308px;
    background: #F5F5F5;
    border-radius: 10px;
    list-style-type: none;
    }
    .border img{
    width: 40px;
    height: 40px;
    margin-left: 5.74%;
    margin-right: 80.74%;
    margin-top: 5.43%;
    margin-bottom: 21.43%;
    }

    .border h1{
    margin-top: -101px;
    height: 8px;
    left: 22.64%;
    right: 53.72%;
    margin-left: -28.36%;
    list-style-type: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    list-style-type: none;

    letter-spacing: -0.376923px;

    color: #000000;
    }
    .border a{
    height: 14px;
    margin-left: 22.64%;
    list-style-type: none;
    margin-right: 53.38%;
    margin-top: calc(50% - 17px/2 + 11.5px);
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: -0.326667px;

    color: #FFAC12;
    }

    .contact-form{
    width: 336px;
    height: 520px;
    margin-top: 288px;
    border-radius: 10px;
    margin-left: -20px; ;

    }
    .contact-form .contact-content {
    background-color: #FFFF;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 30px 50px;
    position: relative;
    overflow: hidden;
    }

    .btn:focus {
    outline: none;
    }

    .contact-header {
    border-bottom: 0px;
    }

    .contact-form .contact-title {
    color: #ffffff;
    }

    .contact-form form {
    padding: 20px;
    }

    .contact-form form input {
    height: 50px;
    }

    .contact-form .form-control {
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: none;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    width: 296px;
    height: 60px;
    margin-left: -44px;
    }

    .contact-form .form-control:focus {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffffff;
    }

    .contact-form form input[type="submit"] {
    background: #1dc9e3;
    border: 3px solid transparent;
    border-radius: 100px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px;
    }

    .contact-form form input[type="submit"]:hover {
    background: transparent;
    border-color: #1dc9e3;
    color: #ffffff;
    }
    .myBtn {
    background-color:#000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    width: 296px;
    height: 70px;
    margin-left: -42px;
    margin-top: -7px;
    border-radius:0px 16px 0px   0px;
    text-decoration: none;
    }
    .btn_p{
    margin-top: 20px;
    margin-bottom: 1rem;
    margin-left: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -0.427179px;
    color: #FFFFFF;
    list-style-type: none;
    }

    .cards2{
      width: 704px;
      height: 147px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      left: 145px;
      top: 40px;
      overflow: hidden;
      border: 0px solid rgba(150,150,150,1);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.13371394574642181);
      overflow: hidden;
    }

    .v_694 {
      width: 1440px;
      margin-left: 185px;
      
      margin-bottom: 150px;
      height: 700px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v_695 {
      width: 329px;
      height: 86px;
      background: #f2f2f2;
    
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v_696 {
      width: 330px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 2
      1px;
      left: 0px;
      font-family: DM Sans;
      font-weight: Bold;
      font-size: 50px;
      opacity: 1;
      text-align: left;
    }
    .v_697 {
      width: 169px;
      height: 4px;
      background: url("../images/Rectangle.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v_701 {
      width: 36px;
      height: 22px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 105px;
      left: 258px;
      overflow: hidden;
    }
    .v_702 {
      width: 16px;
      height: 16px;
      background: url("../images/Size.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 3px;
      left: 0px;
      overflow: hidden;
    }
    .v_714 {
      width: 10px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 0px;
      left: 26px;
      font-family: DM Sans;
      font-weight: Bold;
      font-size: 17px;
      opacity: 1;
      text-align: left;
    }
    .v_715 {
      width: 35px;
      height: 22px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 105px;
      left: 39px;
      overflow: hidden;
    }
    .v_716 {
      width: 14px;
      height: 12px;
      background: url("../images/Bed.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 1px;
      left: 0px;
      overflow: hidden;
    }
    .v_719 {
      width: 11px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 0px;
      left: 24px;
      font-family: DM Sans;
      font-weight: Bold;
      font-size: 17px;
      opacity: 1;
      text-align: left;
    }
    .v_720 {
      width: 36px;
      height: 22px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top:105px;
      left: 150px;
      overflow: hidden;
    }
    .v_721 {
      width: 40px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      bottom: 12px;
      left: 26px;
      font-family: DM Sans;
      font-weight: Bold;
      font-size: 17px;
      opacity: 1;
      text-align: left;
    }
    .v_722 {
      width: 16px;
      height: 16px;
      background: url("../images/Shower.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2px;
      left: 0px;
      overflow: hidden;
    }
    .v_729 {
      width: 139px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 28px;
      left: 10px;
      font-family: DM Sans;
      font-weight: Bold;
      font-size: 24px;
      opacity: 1;
      text-align: left;
    }