    body {
        font-family: 'DM Sans', sans-serif;
        padding-left: 30%;
        padding-right: 30%;
        background-color: rgb(255, 255, 255);
    }
    /*Description */ 
    .description1 {
        width: 704px;
        height: 353px;
        padding: 50px;
        margin-left: 3px;
        font-size: 12px;
        padding-top: 0px;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;    
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px; 
        margin-top:10%;

    }
    .text1213 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.376923px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
    .hr1 {
        color:red;
        width:803px;
        border: 1px solid #e4e4e4;    
        margin-left: -50px;
        
    }

/*Features */ 

    .features1 {
        width: 704px;
        height: 353px;
        padding: 50px;
        margin-left: 3px;
        padding-top: 10px;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;    
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        font-size: 12px;
        margin-top:10%;

    }


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  height: 22px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.376923px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

i {
    color: #ffc107;
    padding-left: 10px;
}
@media screen and (max-width: 1125px){
  .description1 {
    width: 300px;
    height: 838px;
    padding: 50px;
    margin-left: -105px;
    font-size: 12px;
    padding-top: 0px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 32px 34px rgb(0 0 0 / 13%);
    border-radius: 25px;
    margin-top: -77%;
}

    
    .features1 {
        width: 300px;
        height: 813px;
        padding: 50px;
        margin-left: -105px;
        padding-bottom: 0px;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;    
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        font-size: 12px;
        margin-top:10%;

    }
    .column {
    float: none;
    width: 140%;
    padding: 3px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    height: 39px;
    font-size: 17px;
    line-height: 106px;
    letter-spacing: -0.376923px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: -1px;
      
      }
    }